<div class="text-center background">
    <form #form="ngForm" [formGroup]="loginForm" (submit)="loginUser()" class="form-signin">
        <div class="row text-center">
            <div class="col-md-2">
                <img src="../../assets/imgs/fatura-64.png" alt="Ícone de uma fatura">
            </div>
            <div class="col-md-10">
                <h1>Antecipações de <br> Notas Fiscais</h1>
            </div>
        </div>
        <p><em>Entre com seu usuário e senha.</em></p>
        <div class="form-group">
            <input formControlName="login" type="text" placeholder="Usuário" class="form-control">
            <app-error-message message="O usuário é obrigatório!" *ngIf="loginForm.get('login').errors?.required && 
                (form.submitted || loginForm.get('login').touched)">
            </app-error-message>
        </div>
        <div class="form-group">
            <input formControlName="password" type="password" placeholder="Senha" class="form-control">
            <app-error-message message="A senha é obrigatória!" *ngIf="loginForm.get('password').errors?.required && 
                (form.submitted || loginForm.get('password').touched)">
            </app-error-message>
        </div>

        <button type="submit" class="btn btn-dark btn-block">Entrar</button>

        <app-error-message message="Usuário ou senha inválidos!" *ngIf="loginError"></app-error-message>
    </form>
</div>