<div class="container">
    <app-title titlePage="Solicitações de Antecipação"></app-title>
    <div class="table-responsive">
        <table class="table table-bordered text-center" *ngIf="invoices.length; else messageTemplate">
            <thead class="thead-light">
                <tr>
                    <th>Nº NF</th>
                    <th>Descrição</th>
                    <th>Data de Pagamento</th>
                    <th>Status</th>
                    <th>Opções</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let invoice of invoices">
                    <td>{{ invoice.number }}</td>
                    <td>{{ invoice.description }}</td>
                    <td>{{ invoice.billingDate | date:'dd/MM/yyyy' : 'z' }}</td>
                    <td>{{ invoice.paymentDate | date:'dd/MM/yyyy' : 'z' }}</td>
                    <td>
                        <a href="#" class="btn btn-success" data-toggle="modal"
                            data-target="#view">Aprovar Antecipação</a>
                        <a href="#" class="btn btn-danger" data-toggle="modal"
                        data-target="#view">Reprovar Antecipação</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <ng-template #messageTemplate>
        <p class="text-center text-muted">Não encontrado notas fiscais.</p>
    </ng-template>
    <div>
        <app-modal 
            titleModal="Solicitar Antecipação de pagamento:" 
            idModal="view">
            <form (submit)="gravar()">
                <div class="input-group">
                    <label for="dataAntecipation" class="mr-2 mt-1">Informe a nova data:</label>
                    <input type="date" class="form-control col-5">
                </div>
            </form>
        </app-modal>
    </div>
</div>