<div class="container">
    <app-title titlePage="Solicitações de Antecipação"></app-title>
    <div class="table-responsive">
        <table class="table table-bordered text-center" *ngIf="anticipations.length; else messageTemplate">
            <thead class="thead-light">
                <tr>
                    <th>Nº NF</th>
                    <th>Descrição</th>
                    <th>Data de Pagamento</th>
                    <th>Opções</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let anticipation of anticipations">
                    <td>{{ anticipation.number }}</td>
                    <td>{{ anticipation.description }}</td>
                    <td>{{ anticipation.paymentDate | date:'dd/MM/yyyy' : 'z' }}</td>
                    <td>
                        <app-dropdown>
                            <a class="dropdown-item" href="#"
                                data-toggle="modal" data-target="#view" 
                                (click)=invoiceSelected(anticipation)>Visualizar
                            </a>
                            <a class="dropdown-item" href="#"
                                data-toggle="modal" data-target="#approve" 
                                (click)=invoiceSelected(anticipation)>Aprovar Antecipação
                            </a>
                            <a class="dropdown-item" href="#"
                                data-toggle="modal" data-target="#disapprove" 
                                (click)=invoiceSelected(anticipation)>Reprovar Antecipação
                            </a>
                        </app-dropdown>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <ng-template #messageTemplate>
        <p class="text-center text-muted">Não encontrado antecipações de notas fiscais.</p>
    </ng-template>
    <div *ngIf="invoice">
        <app-modal 
            titleModal="Visualizar" 
            idModal="view">
            <p><strong>Número da NF: </strong>{{ invoice.number }}</p>
            <p><strong>Data de Faturamento: </strong>{{ invoice.billingDate | date:'dd/MM/yyyy' : 'z'}}</p>
        </app-modal>
    </div>
    <app-modal 
        titleModal="Aprovar antecipação de pagamento:" 
        idModal="approve"
        btnText="Confirmar"
        (btnConfirm)="approve()">
        <p>Confirma aprovação da solicitação de antecipação?</p>
    </app-modal>
    <app-modal 
        titleModal="Reprovar antecipação de pagamento:" 
        idModal="disapprove"
        btnText="Confirmar"
        (btnConfirm)="disapprove()">
            <p>Tem certeza que deseja reprovar a solicitação de antecipação? 
                <em>Você pode sugerir uma nova data no campo abaixo.</em></p>
            <div class="input-group">
                <label for="dataAntecipation" class="mr-2 mt-1">Informe a nova data:</label>
                <input type="date" [(ngModel)]="newDate" class="form-control col-5">
            </div>
    </app-modal>
</div>