<nav class="navbar navbar-light border-bottom shadow-sm" style="background-color: #e3f2fd">
    <div class="navbar-brand">
        <img src="../../../assets/imgs/pilha-de-dinheiro-64.png" width="45" height="45"><span class="ml-3 mr-3">Desafio Decola</span>
    </div>
    <div class="btn-group">
        <a class="p-2 text-dark mr-3" [routerLink]="'/pacientes'">Lista Notas Fiscais</a>
        <a class="p-2 text-dark mr-3" [routerLink]="'/painel-pacientes'">Solicitações de Antecipação</a>
        <button type="button" class="btn btn-danger">Sair</button>
    </div>
</nav>