<nav class="navbar navbar-light" style="background-color: #e3f2fd">
    <div class="navbar-brand">
        <img src="../../../assets/imgs/pilha-de-dinheiro-64.png" width="45" height="45"><span class="ml-3 mr-3">Desafio Decola</span>
    </div>
    <div class="btn-group mr-4">
        <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
            <i aria-hidden="true" class="fa fa-user-circle"></i>
           Nome
        </button>
        <div class="dropdown-menu dropdown-menu-lg-right">
            <button class="dropdown-item" type="button" (click)="logout()">Sair</button>
        </div>
    </div>
</nav>