<div class="container">
    <app-title 
        titlePage="Lista de Notas" 
        btnNew="Nova Nota Fiscal" 
        urlPage="/home/add-invoice">
    </app-title>
    <app-search 
        search="Buscar NF:" 
        searchPlaceholder="Informe um número" 
        [numberSearch]="number"
        (btnSearch)="search($event)">
    </app-search>
    <div class="table-responsive">
        <table class="table table-bordered text-center" *ngIf="invoices.length; else messageTemplate">
            <thead class="thead-light">
                <tr>
                    <th>Nº NF</th>
                    <th>Descrição</th>
                    <th>Data de Pagamento</th>
                    <th>Status</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let invoice of invoices" [ngClass]="{'disapproved': invoice.status == 'Reprovado'}">
                    <td>{{ invoice.number }}</td>
                    <td>{{ invoice.description }}</td>
                    <td>{{ invoice.paymentDate | date:'dd/MM/yyyy' : 'z' }}</td>
                    <td *ngIf="invoice.status != 'Reprovado'">{{ invoice.status }}</td>
                    <td *ngIf="invoice.status == 'Reprovado'">
                        {{ invoice.status }} 
                        <img class="ml-2" data-toggle="tooltip" data-placement="top" title="Tooltip on top" src="../../../assets/imgs/alta-importância-28.png">
                    </td>
                    <td>
                        <app-dropdown>
                            <a class="dropdown-item" href="#"
                               data-toggle="modal" data-target="#view" 
                               (click)=invoiceSelected(invoice)>Visualizar
                            </a>
                            <a class="dropdown-item" href="#"
                                data-toggle="modal" data-target="#request" 
                                (click)=invoiceSelected(invoice)>Solicitar Antecipação
                            </a>
                        </app-dropdown>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <ng-template #messageTemplate>
        <p class="text-center text-muted">Não encontrado notas fiscais.</p>
    </ng-template>

    <div *ngIf="invoice">
        <app-modal 
            titleModal="Visualizar" 
            idModal="view">
            <p><strong>Número da NF: </strong>{{ invoice.number }}</p>
            <p><strong>Data de Faturamento: </strong>{{ invoice.billingDate | date:'dd/MM/yyyy' : 'z'}}</p>
        </app-modal>
    </div>

    <app-modal 
        titleModal="Solicitar Antecipação" 
        idModal="request"
        btnText="Confirmar"
        (btnConfirm)="anticipation()">
        <div class="input-group">
            <label for="dataAntecipation" class="mr-2 mt-1">Informe a nova data:</label>
            <input type="date" [(ngModel)]="newDate" class="form-control col-5">
        </div>
    </app-modal>
</div>